$ cat .gitignore
/*

!/.gitignore
!/LICENSE
!/README.md
!/CHANGELOG

!/icon.png
!/config/
/config/tellme/*
!/resources/
!/scripts/
!/structures/
!/patchouli_books/
config/AppliedEnergistics2/items.csv
config/AppliedEnergistics2/CustomRecipes.cfg
config/chiselsandbits_clipboard.cfg
config/AppliedEnergistics2/VersionChecker.cfg
config/InvTweaks.cfg
