# Configuration file

~CONFIG_VERSION: 0.1.0

world-78688046 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=FIRE
    B:overlayEnabled=true
}


world-880849515 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world1544803905 {
    S:filterText=
}


world2438791 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=@INDUS KUANG
    B:overlayEnabled=true
}


world2438792 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world2438793 {
    # 在打开的 GUI 一侧显示书签列表。
    B:bookmarkOverlayEnabled=true

    # 给予物品而非显示其配方。
    B:cheatItemsEnabled=false

    # 在列表中点击物品以隐藏或取消隐藏。
    B:editEnabled=false
    S:filterText=

    # 在打开的 GUI 一侧显示物品列表。
    B:overlayEnabled=true
}


world3423845 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world3423846 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=@nuc kuangshi
    B:overlayEnabled=true
}


world3559 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=hailan
    B:overlayEnabled=true
}


world805325770 {
    B:bookmarkOverlayEnabled=true
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


