# Configuration file

general {
    # Determines whether or not the default tips should be possible. This includes tips added directly by other mods through their language files. [default: true]
    B:allowDefaultTips=true

    # A list of custom tips added by the user or modpack. [default: ]
    S:customTips <
        热爆花不再接受TNT复制机产出的TNT(假
        在ClientTweaks配置中禁用自动爬梯！
        FindMe模组可以帮你快速找到附近的物品
        安装Optifine享受预设优化
        本整合包使用的高亮显示模组是TheOneProbe
        小心Mods文件夹里的蝙蝠！
        XNet是一个进阶传输模组,优化十分友好,放了再多也不会比EnderIO更卡
        WayStones模组提供便宜好用的传送功能
        匠魂工具,越用越有
        试试专家模式! /packmode expert
        PackagedExCrafting模组提供方便好用的拓展合成AE自动化
        N E A T
        使用LagGoggles模组把你家卡成狗的罪魁祸首在哪里
        IndustrialCraft原版的线缆均已报废,使用IndustrialWires提供的线缆传输EU
        FluxNetWork提供的无线传电系统比RFTools提供的要便宜得多
        使用TorchMaster的巨型火把和狂野灯笼阻止大范围刷怪及提供大范围照明!
        这个条提示是个憨批，什么内容都没有
        使用子沙加快你的甘蔗/仙人掌生长速度
        试试用SilentGems模组提供的各种宝石制作匠魂工具
        别到处乱挖,找找矿脉的地表指示物
        本整合包没有禁用抽屉升级
        NuclearCraft:Overhauled和他爹NuclearCraft还是有些去别的,但都没有汉化
        GBL,yyds
        使用FTBUtlities模组提供的认领区块功能使你家免受苦力怕的重伤,并提供强加载
        那个连锁挖矿模组不叫VeinMiner,也不叫OreExcavation,那个词组读FTBUltimine
        FlatColoredBlocks模组提供各种光怪陆离的纯色装饰方块
        如果你使用Discord,本整合包提供DiscordSuite支持
        启动整合包的时候不用死盯着那个Mojang的Logo,去干点别的,加载完成时你会听到"叮"一声
        没有墓碑,只有尸体,这恒河里
        用Chisel和Chisel&Bits模组好好装点一下自己家吧
        AkashicTome模组提供了一本有四次元口袋的书
        AstralSorcery模组提供的星能力便宜好用
        试试OpenBlocksElevator模组提供的电梯省去各种梯子和台阶
        Flopper模组提供的流体漏斗可以搞出不需要泵的无限水,就是可能有点慢
        CookingForBlockheads模组的水槽不再提供无限水,但牛奶罐的效率被提高了
        野外有很多RecurrentComplex模组提供的古怪遗迹,无聊了可以去找点玩玩
        GlassAnimals,grandson和OliverTree从某种意义上来说参与了本整合包的制作
        有Bug请到GitHub反映!
        试试听着交响乐玩任何整合包,特别是路德维希·凡·贝多芬的《C小调第五交响曲》
     >

    # The color of the actual tip text. [default: FFFFFF]
    S:textColor=FFFFFF

    # The color of the top/title text for the tip. [default: FFFF55]
    S:titleColor=FFFF55

    # The amount of offset the tip text should have from the left of the screen. [range: 0 ~ 2147483647, default: 5]
    I:xOffset=5

    # The amount of offset the tip text should have from the bottom of the screen. [range: 0 ~ 2147483647, default: 40]
    I:yOffset=40
}


